<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

<!--        <context:component-scan base-package="org.example"/>-->

        <!--Enable the Aspectj auto-proxing, for using AOP-->
        <aop:aspectj-autoproxy/>

        <bean id="xmlAudience" class="org.example.concert.XmlAudience"/>
        <bean id="metalPerformance" class="org.example.concert.MetalPerformance"/>

        <aop:config>
                <aop:aspect ref="xmlAudience">

                        <aop:pointcut
                                id="performance"
                                expression="execution(* org.example.concert.MetalPerformance.perform())"/>

                        <aop:before
                                pointcut-ref="performance"
                                method="silenceCellPhones"/>

                        <aop:before
                                pointcut-ref="performance"
                                method="takeSeats"/>

                        <aop:after-returning
                                pointcut-ref="performance"
                                method="applause"/>

                        <aop:after-throwing
                                pointcut-ref="performance"
                                method="demandRefund"/>

                </aop:aspect>
        </aop:config>
</beans>
